body {
  margin: 0;
  padding: 0;
  background: #eec9dd;
  font-family: Arial, sans-serif;
  text-align: center;
}

h5 {
  margin-left: 400px;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  top: 1px;
}

h1 {
  margin-top: 40px;
  font-size: 28px;
  font-weight: bold;
}

P {
  margin-top: 0px;
  font-size: 8px;
  font-weight: 500;
  margin-bottom: 1%x;
}

.slider-container {
  width: 100%;
  overflow: hidden;
  margin-top: 40px;
  position: relative;
}

.slider-track {
  display: flex;
  transition: transform 0.6s ease;
}

.slide {
  min-width: 180px;
  height: 420px;
  margin: 0 10px;
  border-radius: 10px;
  overflow: hidden;
  transform: perspective(800px) rotateX(6deg);
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.controls {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-left: 0 10%;
  cursor: pointer;
  background: transparent;
  color: #fff;
  font-size: 18px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
/* ---------- Reset and Body Styles ----------

*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #eac7da;
}

/* ---------- Circle fixed at top-right ---------- */


.circle {
    position: fixed;      
    top: 20px;            
    right: 20px;         
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid #2d2141;

    display: flex;
    align-items: center;
    justify-content: center;

    background: transparent;
    z-index: 999;         
}


.lines {
    display: flex;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
}

.lines span {
    width: 32px;
    height: 3px;
    background: #2d2141;
    border-radius: 1px;
}



@media (max-width: 480px) {
    .circle {
        width: 90px;
        height: 90px;
        top: 12px;
        right: 12px;
    }

    .lines span {
        width: 22px;
    }
}

